    <footer class="footer">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
			    	<div class="footer-logo">
			    		<img src="images/logo-white.png" alt="">
			    		<span>Доильные аппараты <br>от производителя</span>
			    	</div>
			    </div>
			    <div class="col-md-6">
			    	<div class="footer-phone">
			    		<a href="tel:+380934574334">+38 (093) 457-43-34</a>
			    	</div>
			   	</div>
			</div>
		</div>
    </footer>

    <?php require_once('blocks/services/scripts.html'); ?>

    </body>
</html>
