<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
			    <div class="header-logo">
			    	<img src="images/logo.png" alt="">
			    	<span>Доильные аппараты <br>от производителя</span>
			    </div>
			</div>
			<div class="col-md-3">
				<div class="header-action">
					<a href="#" class="btn">Скачать прайс</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="header-phone">
					<a href="tel:+380934574334">+38 (093) 457-43-34</a>
				</div>
			</div>
		</div>
	</div>
</header>
