//Colours should always only appear in this colours.scss
$black:#0e0f10;
$white: #fff;
$blue--light: #048bfe;
$blue: #0070cf;
$gray: #dfdfdf;

$color-bodyText: $black;
$color-primary: $blue--light;
$color-secondary: $blue;
