.application-form {
	position: relative;
	background: $blue;
	padding: 45px 50px;
	color: $white;
	font-family: $font-second;
	z-index: 0;
	&:before {
		content: ' ';
		display: inline-block;
	    width: 33px;
	    height: 33px;
	    background: $blue--light;
	    border-radius: 50%;
	    position: absolute;
	    top: -15px;
	    left: -15px;
	}
	&:after {
		content: ' ';
		display: inline-block;
	    width: 470px;
	    height: 1px;
	    background: $blue--light;
	    position: absolute;
	    top: 168px;
	    left: -400px;
	    transform: rotate(-45deg);
	}
	span {
		display: inline-block;
		margin-top: 15px;
	}
}
.application-form__title {
	font-size: $fontSize-largest;
	margin-bottom: 30px;
}
.application-form__img {
	position: relative;
	z-index: 100;
}