.benefits {
	position: relative;
	text-align: center;
	margin-bottom: 80px;
	&:after {
		content: ' ';
		display: inline-block;
		position: absolute;
		right: -4px;
		top: 50%;
		margin-top: -7px;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: $white;
	}
	&:last-child {
		&:after {
			content: none;
		}
	}
}
.benefits__img {
	display: inline-block;
	background: url('../images/sprite.png');
	margin-bottom: 20px;
	min-height: 90px;
	&.benefits__img_first {
		width: 74px; 
		height: 83px;
    	background-position: -5px -241px;
	}
	&.benefits__img_second {
		width: 71px; 
		height: 86px;
    	background-position: -394px -5px;
	}
	&.benefits__img_third {
		width: 79px; 
		height: 79px;
    	background-position: -101px -145px;
	}
	&.benefits__img_forth {
		width: 81px; 
		height: 75px;
   	 	background-position: -190px -145px;
	}
	&.benefits__img_fifth {
		width: 86px; 
		height: 86px;
    	background-position: -5px -145px;
	}
}
.benefits__text {
	font-size: 22px;
	font-family: $font-second;
}
.benefits__desc {
	position: relative;
	text-align: center;
	&:before {
		content: ' ';
		position: absolute;
		left: 50%;
		top: -20px;
		margin-left: -175px;
		margin-bottom: 30px;
		display: inline-block;
		width: 370px;
		height: 1px;
		background: rgba(255, 255, 255, .34);
		text-align: center;
	}
}
.cow__img {
	position: absolute;
	left: 0;
}