.reason {
	margin-bottom: 60px;
	&.reason--last {
		.reason__num {
			z-index: 0;
			&:before {
				content: ' ';
			    display: inline-block;
			    position: absolute;
			    width: 10000px;
			    height: 1px;
			    background: #0070cf;
			    top: 50%;
			    right: 0;
			    z-index: 0;
			}
		}
	}
}
.reason__num {
	position: relative;
	background: $blue;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	margin-bottom: 20px;
	color: $white;
	text-align: center;
	line-height: 52px;
	z-index: 100;
	&:before {

	}	
}